$black: #191919;
$white: #ffffff;
$dark_gray: #d9d9d9;

$gray100: #ededed;
$gray200: #c6c6c6;
$gray300: #767676;
$gray400: #505050;
$gray500: #242424;

$purple100: #f0f5ff;
$purple200: #dde3f1;
$purple300: #cfc8e0;
$purple400: #8869cf;
$purple500: #6239bf;
$purple600: #4f24b2;
