:root {
  --colors-black: #191919;
  --colors-white: #ffffff;
  --colors-dark_gray: #d9d9d9;

  --colors-gray100: #ededed;
  --colors-gray200: #c6c6c6;
  --colors-gray300: #767676;
  --colors-gray400: #505050;
  --colors-gray500: #242424;

  --colors-purple100: #f0f5ff;
  --colors-purple200: #dde3f1;
  --colors-purple300: #cfc8e0;
  --colors-purple400: #8869cf;
  --colors-purple500: #6239bf;
  --colors-purple600: #4f24b2;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", Roboto;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var(--colors-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
